<div>
	<div>
		<label>Select A Feature Layer</label><br>
		
		<select style="width:97%;" data-dojo-attach-point="selectLayer4AttachmentEditor" id="selectLayer4AttachmentEditor" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:onAttachmentEditorLayerChange">
		</select>

		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnAttachment" data-dojo-attach-event="click:onAttachment">Attachment</button>

	
	<!--
		<select style="width:97%;" id="selectLayer4AttachmentEditor" onchange="onAttachmentEditorLayerChange1(this.options[this.selectedIndex].value)"></select>
	-->
	</div>
</div>